.collection {
  width: 22%;
  display: flex;
  flex-direction: column;
  height: 350px;
  align-items: center;
  background-color: #5e1224;
  border-radius: 15px;
  padding: 5px;
  box-shadow: -1px -1px 5px 0px rgba(0, 0, 0, 0.75);
  position: relative;

  .collection__image {
    border-radius: 15px;
    width: 100%;
    height: 95%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
  }

  .custom__button {
    width: 80%;
    opacity: 0.7;
    position: absolute;
    top: 255px;
    display: none;
    justify-content: center;
  }

  &:hover {
    .collection__image {
      opacity: 0.8;
    }
    .custom__button {
      opacity: 0.85;
      display: flex;
    }
  }
  .collection__footer {
    color: wheat;
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    padding: 5px;
    margin-bottom: 15px;

    .collection__name {
      width: 90%;

      padding: 5px;
    }

    .collection__price {
      width: 10%;

      padding: 5px;
    }
  }
}
