.contactFooter {
  background-color: #5e1224;
  width: 100%;
  color: wheat;
  display: flex;
  justify-content: center;
  margin-top: 100px;

  .contactFooter__column {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin-bottom: 10px;
  }
}
